@import url('https://fonts.googleapis.com/css?family=Bellefair|Hammersmith+One');

header {
	background-color:#FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color:#E8C66A;
	border: 1px black solid;
	padding: 20px;
}
article{
	background-color: #E89C6C
	border: 1px black solid;
	padding: 20px;
}

div{
	background-color: #FFE2B8
	border:1px black solid;
	padding:20px;
}
body {
	background-color: #732709;
	text-align: center;
	color:#E8FFC7;
	font-family: "Arial Black";
}

p {
	color:#B56D13;
	font-size: 20px;
	font-family: 'Bellefair', serif;
	margin:2em;
}

h1 {
	font-size: 10px;
	color:#732709;
	font-family: 'Hammersmith One', sans-serif;
}
footer{
	background-color: #FF957E;
	border:1px black solid;
	padding:20px;

}
