body {
	background-color: #8D2C0C;
	text-align: center;
	color:#E8FFC7;
	font-family: Helvetica;

}
p {
	color:#E8FFC7;
	font-size: 50px;
	font-weight: bold;

}
h1 {
	font-size: 100px;
	color:#8D2C0C;
	font-weight: bold;
}
