body {
	background-color: #8D2C0C;
	text-align: center;
	color:#E8FFC7;
	font-family: Helvetica;

}
p {
	color:#E8FFC7;
	font-size: 30px;
	
}
h1 {
	font-size: 100px;
	color:#B56D13;
	font-weight: bold;
}
