body {
	background-color: #732709;
	text-align: center;
	color:#E8FFC7;
	font-family: "Arial Black";

}
p {
	color:#B56D13;
	font-size: 20px;
	font-weight: bold;

}
h1 {
	font-size: 10px;
	color:#732709;
}
